fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic==2.9.2
pydantic-settings==2.6.1
requests==2.32.3
pandas==2.2.3
click==8.1.7
tqdm==4.67.1
# psutil optional but recommended
psutil==6.1.0
# py7zr для поддержки .7z архивов
py7zr==0.22.0

